<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-fragment :: head(${'Q&A Community'})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Index Template</title>
    <link rel="stylesheet" href="../static/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome-free-5.14.0-web/css/all.css">
</head>
<body>
<nav th:replace="fragments/nav-fragment :: nav(${0}, ${session.user})">
    Index Nav Part
</nav>
<main class="container mt-5 pt-4" style="min-height: 85vh">
    <!--list of questions-->
    <div class="row">
        <!--    left side data-->
        <div class="col-md-9 col-12">
            <h3 class="h3 m-3"><i class="fa fa-list"></i> Posts List </h3>
            <!--            nav tabs sections TODO 因为这里的tabs是不会变化的所以我偷懒直接写死-->
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills" role="tablist">
                        <!--                Interesting tab-->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="interesting-tab" data-toggle="pill" href="#interesting-pane"
                               role="tab" aria-controls="interesting-tab" aria-selected="true"
                               onclick="fetchPostList(0, 10, 'interesting')">Interesting</a>
                        </li>
                        <!--                Hot tab-->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="hot-tab" data-toggle="pill" href="#hot-pane"
                               role="tab" aria-controls="hot-tab" aria-selected="false"
                               onclick="fetchPostList(0, 10, 'hot')">Hot</a>
                        </li>
                        <!--                Week tab-->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="week-tab" data-toggle="pill" href="#week-pane"
                               role="tab" aria-controls="week-tab" aria-selected="false"
                               onclick="fetchPostList(0, 10, 'week')">Week</a>
                        </li>
                        <!--                Month tab-->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="month-tab" data-toggle="pill" href="#month-pane"
                               role="tab" aria-controls="month-tab" aria-selected="false"
                               onclick="fetchPostList(0, 10, 'month')">Month</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <!--            tab content sections-->
                    <div class="tab-content">
                        <!--                interesting pane-->
                        <div class="tab-pane fade show active" id="interesting-pane">
                            <!-- 里面是list-group + media-object-->
                            <ul id="interesting-list" class="list-group list-group-flush">
                                <!--post list will be rendered here-->
                            </ul>
                        </div>
                        <!--     TODO           Hot pane-->
                        <div class="tab-pane fade" id="hot-pane">
                            <ul id="hot-list" class="list-group list-group-flush">
                                <!--post list will be rendered here-->
                            </ul>
                        </div>
                        <!--     TODO           Week pane-->
                        <div class="tab-pane fade" id="week-pane">
                            <ul id="week-list" class="list-group list-group-flush">
                                <!--post list will be rendered here-->
                            </ul>
                        </div>
                        <!--      TODO          Month pane-->
                        <div class="tab-pane fade" id="month-pane">
                            <ul id="month-list" class="list-group list-group-flush">
                                <!--post list will be rendered here-->
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- pagination-->
            <nav id="pagination" class="mt-4" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- first button-->
                    <li class="page-item">
                        <a id="first-button" class="page-link" href="#" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!--previous button-->
                    <li class="page-item">
                        <a id="prev-button" class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li class="page-item"><a id="n2-button" class="page-link" href="#">1</a></li>
                    <li class="page-item"><a id="n1-button" class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a id="cur-button" class="page-link" href="#">3</a></li>
                    <li class="page-item"><a id="p1-button" class="page-link" href="#">4</a></li>
                    <li class="page-item"><a id="p2-button" class="page-link" href="#">5</a></li>
                    <!--next button-->
                    <li class="page-item">
                        <a id="next-button" class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <!-- last button-->
                    <li class="page-item">
                        <a id="last-button" class="page-link" href="#" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--    right side data-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">Hottest tags</div>
                <div class="card-body">
                    <a href="#" class="badge badge-info badge-pill mx-1" th:each="tag: ${recommendedTags}"
                          th:text="${tag.tagName}">recommended tag names</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer-fragment :: footer">
    Index Footer Part
</footer>
<!--/*/ <th:block th:replace="fragments/head-fragment :: js"> /*/-->
<!--import static js here-->
<script type="application/javascript" src="../static/jQuery/jquery-3.5.1.min.js"></script>
<script type="application/javascript" src="../static/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
<!--/*/ </th:block> /*/-->
<script type="application/javascript" src="../static/js/index.js" th:src="@{/js/index.js}"></script>
<script>
    window.onload = () => {
        fetchPostList(0, 10, "interesting");
    }
</script>
</body>
</html>