<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sign-In</title>
    <link rel="stylesheet" href="../static/bootstrap-4.5.2-dist/css/bootstrap.min.css"
          th:href="@{/bootstrap-4.5.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/signin.css" th:href="@{/css/signin.css}">
</head>
<body>
<nav th:replace="fragments/nav-fragment :: nav(${0}, ${false})">
    Sign In Nav Part
</nav>
<!--modified from template: https://getbootstrap.com/docs/4.5/examples/sign-in/-->
<main class="signin-body" style="height: 85vh">
    <div class="container text-center m-5">
        <form class="form-signin" method="post" th:object="${signInForm}" th:action="@{/authentication/sign-in}">
            <img class="mb-4 rounded" src="https://picsum.photos/72/72" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input th:field="*{emailAddress}" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input th:field="*{password}" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <p>Don't have an Account? <a href="#" class="badge badge-light">Sign up</a></p>
        <hr class="form-signin">
        <button class="form-signin btn-sm btn-dark btn-block" type="button" onclick="alert('TODO')">Sign in with GitHub</button>
    </div>
</main>

<footer th:replace="fragments/footer-fragment :: footer">
    Sign In Footer Part
</footer>
<script type="application/javascript" src="../static/jQuery/jquery-3.5.1.min.js"
        th:src="@{/jQuery/jquery-3.5.1.min.js}"></script>
<script type="application/javascript" src="../static/bootstrap-4.5.2-dist/js/bootstrap.min.js"
        th:src="@{/bootstrap-4.5.2-dist/js/bootstrap.min.js}"></script>
</body>
</html>